@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0px;
}

body{
    
}

header{
    text-align: center;
    background-color: black;
    padding-block: 40px;
    

}

header > h1{
    color: white;
    font-size: 3.1em;
    font-family: "Passion One", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    
}
#letraG{
    font-size: 1.5em;
}

header > p{
    color: rgb(187, 187, 187);
    font-family: Arial, Helvetica, sans-serif;
}

header > p > a{
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

aside{
    position: relative;
    height: 70vh;
    background-color: white;
    background-size: 100% 100%;

}

#segest{
    background: url("..//imagens/background001.jpg") center center/ cover fixed;
    
}

#quiest{
    background: url("..//imagens/background002.jpg") center center/ cover fixed;
}

aside > p{
    padding: 40px;
    background-size: 30vh;

}

pre{
    position: absolute;
    font-family: "Sriracha", cursive;
    font-size: 1.9em;
    background-size: 100% 100%;
    height: 400px;
    width: 370px;
    
    
    left: 2%;

}

#predif{
    color: white;
    background-color: rgba(0, 0, 0, 0.312);
    
}

footer{
    background-color: black;
    text-align: center;
    padding: 9px;
}

footer > p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

footer > p > a{
    font-weight: bolder;
    text-decoration: none;
    color: white;
}
